main {
  padding: 0em 5em;
}

.main-container {
  margin-top: 5em;
  display: flex;
  flex-direction: column;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.image-right {
  width: 1000px;
  height: 500px;
  border: 3px solid black;
  border-radius: 1em 1em 0em 0em;
}

.column-grid > img {
  height: 197px;
}

.column-grid {
  display: flex;
  gap: 7px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.guest,
.children,
.dogs {
  padding: 0.8em;
  display: flex;
  justify-content: space-between;
}

.description-container {
  margin-top: 3em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* form {
  display: flex;
  align-items: center;
} */

input,
.book-btn {
  padding: 12px 20px;
  margin: 8px 0;
}

#userDetailsForm {
  display: grid;
  grid-template-columns: 0.2fr;
  align-items: center;
}

/* Media queries */

@media (max-width: 768px) {
  main {
    padding: 0em 0em; /* Adjusted padding for smaller screens */
    margin: 0em 0em;
    margin-top: 2em;
    width: 100%;
  }

  .main-container {
    margin-top: 5em;
    display: grid;
    grid-template-columns: 1fr;
  }

  .image-container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
  }

  .image-right {
    width: 100%; /* Adjusted width for responsiveness */
    height: auto; /* Maintain aspect ratio */
    border: 3px solid black;
    border-radius: 1em 1em 0em 0em;
  }
  /* Hide images on phone */
  .column-grid {
    display: none;
  }

  .description-container {
    margin-top: 3em;
    grid-template-columns: 1fr; /* Single column layout for description on smaller screens */
  }
  form {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  main {
    padding: 0em 1em; /* Further reduced padding for very small screens */
  }

  /* No changes needed for .main-container, .image-container, .column-grid, .image-right, .description-container as they are already adjusted in the 768px media query */

  .column-grid > img {
    height: 80px; /* Adjusted image height for even smaller screens */
  }
}
